- icon = ['&#xf0c9;','&#xf004;','&#xf005;','&#xf085;','&#xf002;']

.nav
  - icon.each do |i|
    .link
      .prev= i
      .small= i
      .full
        .f1
          headline
        .f2
          some additional info to this link
.e
  no javascript, no flexbox